<div class="row">
  <div class="column">Open</div>
  	{% for item in items %}
  		<p> {{ item.open }} </p>
  	{% endfor %}
  <div class="column">Close</div>
  	{% for item in items %}
  		<p> {{ item.close }} </p>
  	{% endfor %}
</div>

<br />
<a href="/index">Return Home</a>
